/* https://coolors.co/809bce-95b8d1-b8e0d2-d6eadf-eac4d5 */
/* https://dribbble.com/shots/17163068-Happy-Paws-Pet-store */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}
